<div class="bg-Grayscale50">
    <div class="flex flex-col px-10 py-5 gap-7 m-0 box-border">
        <div class="flex flex-col gap-2 items-center">
            <span class="text-Grayscale500 font-bold text-[2rem]">Portfolio</span>
            <span class="text-[1rem] text-Grayscale500 text-center">
                Welcome to my portfolio! I am a Front-End Developer with over 4 years of experience building high-performance web applications. My expertise includes Angular and
                React.js, along with skills in HTML, CSS, JavaScript, TypeScript, and Tailwind CSS. I specialize in creating intuitive, scalable, and maintainable user interfaces
                that deliver exceptional user experiences. I have worked on a variety of projects, from enterprise applications to personal creations, showcasing my problem-solving
                skills and attention to detail. Feel free to explore my work and see how I bring ideas to life!
            </span>
        </div>
        <div class="flex flex-col gap-5">
            <div class="flex flex-col gap-2">
                <span class="pl-2 border-l-[6px] border-solid border-Lime100 text-[1.25rem] font-bold">Professional Projects</span>
                <div
                    class="grid grid-cols-1 md:grid-cols-2 gap-4 max-w-full mr-auto"
                    appCalculateComponentHeight [heighChecking]="170"
                    (onHeighChecked)="onHeighChecked($event, 'professionalProjects')"
                    [@expandCollapse]="professionalProjectsExpanded['hasExpanded'] ? (professionalProjectsExpanded['isExpanded'] ? '__expanded' : '__collapsed') : null">
                    @for (project of professionalProjects; track project.id) {
                    <div class="flex gap-5 p-4 rounded-lg bg-Lime20 max-w-full">
                        <div class="w-[8rem] h-[8rem]">
                            <img
                                src="{{ project.thumbnail }}"
                                alt="{{ project.title }}"
                                class="w-full h-full object-cover rounded-[4px]" />
                        </div>
                        <div class="flex flex-col gap-1 w-[calc(100%-8rem-1.25rem)]">
                            <span class="text-Grayscale500 font-bold text-[1.15rem] underline cursor-pointer">{{ project.title }}</span>
                            <span class="text-Grayscale500 text-[0.85rem]">{{ project.description }}</span>
                        </div>
                    </div>
                    }
                </div>
                @if (professionalProjectsExpanded['hasExpanded']) {
                <div class="flex w-full items-center gap-[6px] px-3 mt-[4px]">
                    <span class="h-[1px] w-[24px] bg-Grayscale350"></span>
                    <span
                        class="text-Grayscale450 font-semibold text-[0.8rem] cursor-pointer text-center flex items-center gap-[2px]"
                        (click)="toggleExpandCollapse('professionalProjects')">
                        {{ professionalProjectsExpanded['isExpanded'] ? 'Show Less' : 'Show More' }}
                        <mat-icon
                            class="w-[12px] h-[12px]"
                            svgIcon="{{ professionalProjectsExpanded['isExpanded'] ? 'common:ic_see_less' : 'common:ic_see_more' }}"></mat-icon>
                    </span>
                    <span class="h-[1px] w-[calc(100%-24px-100px)] bg-Grayscale350"></span>
                </div>
                }
            </div>
            <div class="flex flex-col gap-2">
                <span class="pl-2 border-l-[6px] border-solid border-Lime100 text-[1.25rem] font-bold">Personal Projects</span>
                <div
                    class="grid grid-cols-1 md:grid-cols-2 gap-4 max-w-full mr-auto"
                    appCalculateComponentHeight [heighChecking]="170"
                    (onHeighChecked)="onHeighChecked($event, 'personalProjects')"
                    [@expandCollapse]="personalProjectsExpanded['hasExpanded'] ? (personalProjectsExpanded['isExpanded'] ? '__expanded' : '__collapsed') : null">
                    @for (project of personalProjects; track project.id) {
                    <div class="flex gap-5 p-4 rounded-lg bg-Rasberry20 max-w-full">
                        <div class="w-[8rem] h-[8rem]">
                            <img
                                src="{{ project.thumbnail }}"
                                alt="{{ project.title }}"
                                class="w-full h-full object-cover rounded-[4px]" />
                        </div>
                        <div class="flex flex-col gap-1 w-[calc(100%-8rem-1.25rem)]">
                            <span class="text-Grayscale500 font-bold text-[1.15rem] underline cursor-pointer">{{ project.title }}</span>
                            <span class="text-Grayscale500 text-[0.85rem]">{{ project.description }}</span>
                        </div>
                    </div>
                    }
                </div>
                @if (personalProjectsExpanded['hasExpanded']) {
                <div class="flex w-full items-center gap-[6px] px-3">
                    <span class="h-[1px] w-[24px] bg-Grayscale350"></span>
                    <span
                        class="text-Grayscale450 font-semibold text-[0.8rem] cursor-pointer text-center flex items-center gap-[2px]"
                        (click)="toggleExpandCollapse('personalProjects')">
                        {{ personalProjectsExpanded['isExpanded'] ? 'Show Less' : 'Show More' }}
                        <mat-icon
                            class="w-[12px] h-[12px]"
                            svgIcon="{{ personalProjectsExpanded['isExpanded'] ? 'common:ic_see_less' : 'common:ic_see_more' }}"></mat-icon>
                    </span>
                    <span class="h-[1px] w-[calc(100%-24px-100px)] bg-Grayscale350"></span>
                </div>
                }
            </div>
        </div>
    </div>
</div>
