@use '@angular/material' as mat;

@include mat.core();

$dark-primary: mat.m2-define-palette(mat.$m2-amber-palette, 500);
$dark-accent: mat.m2-define-palette(mat.$m2-green-palette, 500);

$dark-warn: mat.m2-define-palette(mat.$m2-red-palette, 500);

$default-typography: mat.m2-define-typography-config(
    $font-family: var(--font-family)
);

$dark-theme: mat.m2-define-dark-theme((
    color: (
        primary: $dark-primary,
        accent: $dark-accent,
        warn: $dark-warn
    ),
    typography: $default-typography,
    density: 0
));
