::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: rgb(256 256 256 / 30%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(256 256 256 / 30%);
}