.mdc-linear-progress__buffer {
    background-color: #74060E !important;
}

.mdc-linear-progress__buffer-bar {
    background-color: var(--white) !important;
}

.mdc-linear-progress__bar-inner {
    border-color: #74060E !important;
}
