<div class="bg-Grayscale50 px-1">
    <div class="flex flex-col px-9 py-5 h-full gap-7">
        <div class="flex flex-wrap gap-6">
            <div class="flex flex-col w-[calc(1024px-300px-20rem)] flex-auto">
                <span class="text-Grayscale500 font-bold text-[3rem]">Hai Nguyen</span>
                <span class="text-[1.5rem] text-Grayscale500 font-semibold">Front-end Developer</span>
                <span class="mt-3 text-[1rem]">
                    Welcome! I'm a passionate front-end software developer dedicated to crafting engaging and user-friendly digital experiences. Explore my work and projects to see
                    how I bring ideas to life with clean code and creativity!
                </span>
                <div class="flex gap-3 mt-4">
                    <button
                        class="flex items-center gap-2 px-4 py-2 bg-Purple120 text-Grayscale100 rounded-[4px] font-semibold hover:bg-Purple100"
                        (click)="redirectTo('portfolio')">
                        <mat-icon
                            class="h-[24px] w-[24px]"
                            svgIcon="common:ic_arrow_right_circle">
                        </mat-icon>
                        <span class="hidden md:flex">View Portfolio</span>
                        <span class="md:hidden">Portfolio</span>
                    </button>
                    <button
                        class="flex items-center gap-2 px-4 py-2 bg-Lime120 text-Grayscale100 rounded-[4px] font-semibold hover:bg-Lime100"
                        (click)="redirectTo('resume')">
                        <mat-icon
                            class="h-[24px] w-[24px]"
                            svgIcon="common:resume">
                        </mat-icon>
                        <span class="hidden md:flex">View Resume</span>
                        <span class="md:hidden">Resume</span>
                    </button>
                </div>
            </div>
            <div class="flex justify-center w-[14rem] flex-initial m-auto">
                <div class="w-[14rem] h-[17rem] bg-pink-700">
                    <img src="assets/images/avatar_about_me.jpg" alt="" class="w-full h-full object-cover" />
                </div>
            </div>
        </div>
        <div class="flex flex-col gap-5">
            <div class="flex flex-col gap-2">
                <span class="pl-2 border-l-[6px] border-solid border-Lime100 text-[2rem] font-bold flex items-center gap-2">
                    <mat-icon
                        class="h-[32px] w-[32px]"
                        svgIcon="common:ic_education">
                    </mat-icon>
                    Education
                </span>
                <span>
                    Explore my academic journey and qualifications. 
                </span>
            </div>
            <div class="flex flex-col gap-4">
                @if (isDataLoading) {
                    <span></span>
                } @else {
                    <div class="flex flex-wrap gap-2 mx-5 max-w-full">
                        <div class="flex flex-col w-[20%] min-w-[220px] max-w-[300px]">
                            <span class="text-[16px] text-Grayscale500 font-bold">Graduated April 2024</span>
                        </div>
                        <div class="flex flex-col gap-3 w-[calc(100%-220px)] min-w-[220px] max-w-[300px]">
                            <span class="text-[16px] text-Grayscale500 font-bold">
                                Bachelor of Software Engineering
                            </span>
                            <!-- <span class="text-Grayscale500 text-[1rem] mt-1">
                                FPT University Ho Chi Minh
                            </span> -->
                            <mat-icon
                                class="h-auto w-[180px]"
                                svgIcon="common:logo_fptu">
                            </mat-icon>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="flex flex-col gap-5">
            <div class="flex flex-col gap-2">
                <span class="pl-2 border-l-[6px] border-solid border-Lime100 text-[2rem] font-bold flex items-center gap-2">
                    <mat-icon
                        class="h-[32px] w-[32px]"
                        svgIcon="common:ic_work_experience">
                    </mat-icon>
                    What I do?
                </span>
                <span>
                    With over {{ yearExperience }} years of experience in front-end development, I specialize in crafting user-friendly digital experiences with clean code and creativity. Here's a
                    brief overview of my primary technical skills and the technologies I utilize.
                </span>
            </div>
            <div class="flex flex-col gap-4">
                @if (isDataLoading) {
                    <span></span>
                } @else {
                    <div class="flex gap-3 md:px-4 px-1 flex-col">
                        @for (skill of skills; track skill._id) {
                            <div class="flex flex-col p-2 rounded-[4px] mt-1 w-full border-[1px] border-solid border-Grayscale300 border-l-[6px]">
                                <div class="flex gap-2">
                                    <mat-icon
                                        [svgIcon]="skill.icon"
                                        class="h-[42px] w-[42px] p-[6px] rounded-[4px]">
                                    </mat-icon>
                                    <div class="flex flex-col w-[calc(100%-40px)] justify-center">
                                        <span class="text-Grayscale500 text-[1.15rem] font-bold">{{ skill.title }}</span>
                                        <span class="hidden md:flex text-Grayscale500 text-[14px]">
                                            {{ skill.description }}
                                        </span>
                                    </div>
                                </div>
                                <div class="flex flex-col gap-1 md:mt-3 mt-1">
                                    @for (technical of skill.technicals; track technical) {
                                        <div class="pl-6 py-1 rounded-[4px] flex items-center gap-3">
                                            <div class="w-[6px] h-[6px] min-w-[6px] min-h-[6px] rounded-full bg-Grayscale500"></div>
                                            <mat-icon
                                                [svgIcon]="technical.icon"
                                                class="h-[28px] w-[28px] min-w-[28px] min-h-[28px]">
                                            </mat-icon>
                                            <span class="text-Grayscale500 text-[14px] font-bold">{{ technical.title }}</span>
                                            <span class="hidden md:flex text-Grayscale500 text-[14px] font-normal">-</span>
                                            <span class="hidden md:flex text-Grayscale500 text-[14px] font-normal">{{ technical.description }}</span>
                                        </div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>
