<div class="flex flex-col w-[300px] p-3">
    <div class="flex flex-col p-3 gap-5">
        <span class="text-Grayscale200 font-bold text-center text-[18px]">HAI NGUYEN</span>
        <!-- avatar -->
        <div class="flex justify-center">
            <img
                src="assets/images/avatar.png"
                alt=""
                class="w-36 h-36 rounded-full" />
        </div>
        <div class="flex flex-col">
            <span class="text-[16px] text-Grayscale200 text-center">
                Welcome to my website!
            </span>
            <span class="text-[16px] text-Grayscale200 text-center">
                I'm a front-end developer crafting user-friendly digital experiences. Explore my projects and see my work!
            </span>
        </div>
        <div class="flex gap-2 justify-center">
            <a href="https://fb.com/cabsapphire" target="_blank">
                <mat-icon svgIcon="common:facebook" class="h-[32px] w-[32px]"></mat-icon>
            </a>
            <a href="https://fb.com/cabsapphire" target="_blank">
                <mat-icon svgIcon="common:instagram" class="h-[32px] w-[32px]"></mat-icon>
            </a>
        </div>
    </div>
    <div class="__app-divider"></div>
    <div class="flex justify-center items-center flex-col gap-3 w-full p-3">
        <div class="flex gap-2 items-center cursor-pointer py-1 px-2 hover:bg-Purple160 rounded-[6px]">
            <mat-icon svgIcon="common:user" class="h-[20px] w-[20px]"></mat-icon>
            <span class="text-Grayscale200 font-semibold text-[16px]">About me</span>
        </div>
        <div class="flex gap-2 items-center cursor-pointer py-1 px-2 hover:bg-Purple160 rounded-[6px]">
            <mat-icon svgIcon="common:portfolio" class="h-[20px] w-[20px]"></mat-icon>
            <span class="text-Grayscale200 font-semibold text-[16px]">Portfolio</span>
        </div>
        <div class="flex gap-2 items-center cursor-pointer py-1 px-2 hover:bg-Purple160 rounded-[6px]">
            <mat-icon svgIcon="common:resume" class="h-[20px] w-[20px]"></mat-icon>
            <span class="text-Grayscale200 font-semibold text-[16px]">Resume</span>
        </div>
    </div>
</div>
