<div class="flex flex-col w-[300px] p-3 scroll-m-1 overflow-y-scroll h-full">
    <div class="flex flex-col p-3 gap-4">
        <span class="text-Grayscale200 font-bold text-center text-[1.5rem]">Hai Nguyen</span>
        <!-- avatar -->
        <div class="flex justify-center">
            <img
                src="assets/images/avatar.png"
                alt=""
                class="w-[160px] h-[160px] rounded-full" />
        </div>
        <div class="flex flex-col">
            <span class="text-[0.875rem] text-Grayscale200 text-center">Welcome to my website!</span>
            <span class="text-[0.875rem] text-Grayscale200 text-center">
                I'm a front-end developer crafting user-friendly digital experiences. Explore my projects and see my work!
            </span>
        </div>
        <div class="flex gap-2 justify-center">
            <a
                href="https://fb.com/cabsapphire"
                target="_blank">
                <mat-icon
                    svgIcon="common:facebook"
                    class="h-[32px] w-[32px]"></mat-icon>
            </a>
            <a
                href="https://www.instagram.com/hiamcasber"
                target="_blank">
                <mat-icon
                    svgIcon="common:instagram"
                    class="h-[32px] w-[32px]"></mat-icon>
            </a>
            <a
                href="https://github.com/hai15021999"
                target="_blank">
                <mat-icon
                    svgIcon="common:github"
                    class="h-[32px] w-[32px]"></mat-icon>
            </a>
        </div>
    </div>
    <div class="__app-divider"></div>
    <div class="flex justify-center items-center flex-col w-full p-4">
        <div class="flex flex-col items-start gap-2">
            <div
                class="flex gap-2 items-center cursor-pointer py-1 px-2 hover:bg-Purple160 rounded-[6px]"
                [ngClass]="{ 'bg-Purple120': appState.currentPage === 'about-me' }"
                (click)="onChangeSession('about-me')">
                <mat-icon
                    svgIcon="common:user"
                    class="h-[20px] w-[20px]"></mat-icon>
                <span class="text-Grayscale200 font-semibold text-[16px]">About me</span>
            </div>
            <div
                class="flex gap-2 items-center cursor-pointer py-1 px-2 hover:bg-Purple160 rounded-[6px]"
                [ngClass]="{ 'bg-Purple120': appState.currentPage === 'portfolio' }"
                (click)="onChangeSession('portfolio')">
                <mat-icon
                    svgIcon="common:portfolio"
                    class="h-[20px] w-[20px]"></mat-icon>
                <span class="text-Grayscale200 font-semibold text-[16px]">Portfolio</span>
            </div>
            <div
                class="flex gap-2 items-center cursor-pointer py-1 px-2 hover:bg-Purple160 rounded-[6px]"
                [ngClass]="{ 'bg-Purple120': appState.currentPage === 'resume' }"
                (click)="onChangeSession('resume')">
                <mat-icon
                    svgIcon="common:resume"
                    class="h-[20px] w-[20px]"></mat-icon>
                <span class="text-Grayscale200 font-semibold text-[16px]">Resume</span>
            </div>
            <div
                class="flex gap-2 items-center cursor-pointer py-1 px-2 hover:bg-Purple160 rounded-[6px]"
                [ngClass]="{ 'bg-Purple120': appState.currentPage === 'contact' }"
                (click)="onChangeSession('contact')">
                <mat-icon
                    svgIcon="common:contact"
                    class="h-[20px] w-[20px]"></mat-icon>
                <span class="text-Grayscale200 font-semibold text-[16px]">Contact me</span>
            </div>
        </div>
    </div>
</div>
