
@import './styles/variable.scss';
@import './styles/global/nav-bar/nav-bar.scss';
@import './styles/material/themes.scss';

@import './styles/material/components/mat-button';
@import './styles/material/components/mat-spinner';
@import './styles/material/components/mat-snackbar';


@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: var(--Grayscale50);
}
html,
body {
    margin: 0px;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: rgb(0 0 0 / 30%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(0 0 0 / 30%);
}
